 

@{
    ViewData["Title"] = "about";
    Layout = "~/Views/Shared/_front.cshtml";
}

<section>
    <div class="bannerimg cover-image bg-background3" data-image-src="../assets/images/banners/banner1.jpg" style="height:400px;">
        <div class="header-text mb-0">
            <div class="container">
                <div class="text-center text-white ">
                    <h1 class="" style="margin-top: 130px;"> @ViewBag.result</h1>
                    
                </div>
            </div>
        </div>
    </div>
</section>

 